@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
}

body{
	overflow: hidden;
}

.blue1{
	background: #C4E7E2;
}

.pink1{
	background: #FDC2C2;
}

.blue2{
	background: #F4E7E2;
}

.pink2{
	background: #CEC2C2;
}

.blue3{
	background: #F0E7E2;
}

.pink3{
	background: #C0C2C2;
}

.below{
	transform: translateY(100%);
}

div{
	display: flex;
	height: 100vh;
	width: 50%;
	transition: 1s ease-out;
}

img.left{
	position: absolute;
	right:0%;
	top:30%;
	filter: drop-shadow(0px 0px 30px red);
}

img.right{
	position: absolute;
	left:0%;
	top:30%;
	filter: drop-shadow(9px 9px 30px blue);
}

div.left{
	position: fixed;
	left:0px;
	top:0px;
	
}

div.right{
	position: fixed;
	left:50%;
	top:0px;
}

.fullRight{
	position: absolute;
	transform: translateX(120%);
	top:0px;
}

.fullLeft{
	position: absolute;
	transform: translateX(-120%);
	top:0px;
}

div p {
	font-family: poppins;
	font-size: 200px;
	font-weight: 600;
	color: #fff;
}

div p.left{
	position: absolute;
	right:10px;
	top:30%;
}

div p.right{
	position: absolute;
	left:10px;
	top:30%;
}


div.background{
	width:100%;
	background: #111;
}

div.background p{
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	top:30%;
}